@use "./../variables" as v;

@mixin error(){
    .error{
    color: v.$borde;
    font-family: v.$font-family;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.1rem;
}
    .error-message {
        color: v.$borde;
        font-family: v.$font-family;
        font-size: 0.8rem;
        text-align: right;
        margin-top: 0.1rem;
       
    }


}