@use "./../variables" as v;

@mixin inputs() {
    input[type = "text"],
    input[type = "email"],
    input[type = "password"],
    input[type = "number"],
    input[type = "date"],
    select
    {
        font-family: v.$font-family;
        font-size: 1.15rem;
        border: 0;
        border-bottom: 1px solid gray;
        border-radius: 5px;
        background-color: v.$barra;
        color: v.$letra;

        //Marca el elemento con error
        &:invalid[data-focused="true"] {
            border-bottom: 1px solid v.$letra;
            color: v.$letra ;
          }
      
          // Muestra el mensaje de error
        &:invalid[data-focused="true"] ~ p {
            display: block;
          }

        &.error-forgot-input{
          border: 3px solid red;
        }

    }
}