
@use "./../variables" as v;
@mixin label(){
    color: v.$letra;
    font-family: v.$font-family;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-top: 10px;

}